*{
    margin:0px;
    padding: 0px;
}
body{
    font-family: 'Roboto', sans-serif;
    color: #505050;
    font-size: 1em !important;
    background: #efefef;
    height:100%;
    margin:0px 0px;
}

.container{
    margin:0px 0px;
}
.home{
    background-color: white;
}
#logo{
    margin:2px 0px;
    width:300px;
}
/*#logo img{
    width:200px;
    height:150px;
}*/
#navbar{
    background-color:#0093D1;
    height:30px;
    justify-content: center;
    border-bottom: 2px solid #006495;
    margin: 5px 0px;
}
.nav a{
    font-size: 10px;
    padding: 5px 7px;
    text-decoration: none;
    color: #FFF;
    border-right: 1px solid #4fabd2;
}
.notice{
    display:inline-block;
}
.notice img{
    height: 150px;
    width:97%;
}
#outerbox{
    width:300px;
    overflow: hidden;
}
#sliderbox{
    position: relative;
   /* width:637px;*/
   width:1800px;
    animation-name: slide;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}
@keyframes slide{
    0%{
        left:0px;
    }
    18%{
        left:-300px;
    }
    20%{
        left:-300px;
    }
    38%{
        left:-600px;
    }
    40%{
        left:-600px;
    }
    58%{
        left:-900px;
    }
    60%{
        left:-900px;
    }
    78%{
        left:-1200px;
    }
    80%{
        left:-1200px;
    }
    98%{
        left:-1500px;
    }
    100%{
        left:-1500px;
    }
}

#sliderbox img{
    float: left;
    height: 150px;
    width:300px;
}
#info {
    width:100%;
    float: left;
    background: #f2f4f9;
    padding: 5px 10px;
    height: 150px;
    border-left: 2px solid #0093D1;
    overflow-y: scroll;
}
.box a{
    border-top: 1px solid #ccc;
    padding: 8px 0;
    font-size: 0.7em;
}
.btn,.btn:active{
    font-size: 0.6em;
    color: white;
    background: #f2635f;
    border: none;
    padding: 3px 18px;
    margin: 20px 0px;
}
#info h4{
    color: #0093d1;
    padding-bottom: 5px;
    margin: 0px 0 10px -20px;
    display: inline-block;
    padding: 7px 20px;
    font-size: 15px;
}
#services{
    display:flex;
    margin: 0px;
}
#services .box{
    /*margin: 20px 0px;*/
    padding: 4px;
    height: 35px;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    background: #f2f4f9;
}
#services .box h6 {
    margin-top: 10px;
    font-size: 8px;
}
#services .box img {
    width: 37px;
    align-items: center;
    margin-right: 5px;
}
#events{
    margin: 0px;
    display:flex;
}
#events .box{
    width:33%;
    display: flex;
}
#events .box h3{
    font-size:14px;
    display: block;
}
#events .box .btn{
    display:block;
    margin:15px 5px;
    height: 20px;
    float: left;
}
#events .right{
    float:right;
}
#events .right h3{
    font-size:14px;
    margin:0px 0px;
}
 #events h6{
    margin:10px 0px;
    font-size:8px;
}
#footer{
    margin-left:0px;
    margin-right: 0px;
    padding:10px 15px;
    background:#f2f4f9 ;
    /*border:2px solid black;*/
    display:flex;
}
#footer .left{
    display:flex;
    margin-right:10px;
}
#footer .right{
    display:flex;
    margin-left:10px;
}
#footer h3{
    margin:8px 0px;
    margin-right: 10px;
    font-size: 14px;
}
#footer .foot{
    margin-right:15px;
}
#footer h6{
    margin:2px 0px;
    font-size: 8px;
}
#footer h4{
    font-size: 15px;
}
footer{
    margin:0px ;
    height:35px;
    font-size: 10px;
    background-color: #d2d7e3;
}
.center{
    padding:5px;
    color: black;
    text-align: center;
}